# Byte-compiled / Python
__pycache__/
*.pyc
*.pyo

# Databases
database/my_tarot_db.sqlite
*.sqlite

# Generated Output
output/*.html
output/*.json

# Environment & IDE
.env
venv/
.venv/
.DS_Store
.vscode/
static/images/
.DS_Store # already there, but covers subfolders
